{# Map colors to status #}
{% set status_css = {
    "0": "",
    "1": "color-warning",
    "2": "color-success",
    "3": "color-error"
}
%}

<div class="form-item ethereum-status-widget">
    <label for="">{{ title }}</label>

    <div class="form-item">

        <div class="{{ status_css[status_id] }}" style="display: inline-block; padding: .3em; margin: 0;">{{ address|upper }} ({{ status }})</div>

        {% if status_id == 1 %}
        <span class="ethereum-user-connector">
            <button class="button button--primary">Verify address</button>
        </span>
            <noscript>Javascript is required.</noscript>
        {% endif %}

        <div id="myMessage"></div>
    </div>

</div>
