<div id="ethereum-signup" class="ethereum-signup" {{ ui_visible_without_web3 ? '' : ' style="display: none;" ' }}>
  <h3 class="visually-hidden">{{ title }}</h3>
  <div class="form-actions">

      {% if login_link_text %}
        <button class="ethereum-signup--login-link button is-disabled button--primary" disabled="disabled">{{ login_link_text }}</button>
      {% endif %}
      {% if register_link_text %}
        <button class="ethereum-signup-register--link button is-disabled button--primary" disabled="disabled">{{ register_link_text }}</button>
      {% endif %}

      <div id="ethereum-signup-messages"></div>
    <noscript>Javascript is required.</noscript>
  </div>
</div>
