{# Map colors to status #}
{% set status_css = {
  "0": "",
  "1": "color-warning",
  "2": "color-success",
  "3": "color-error"
}
%}

{#ui_visible_without_web3#}

<div id="ethereum-signup" class="ethereum-signup" {{ ui_visible_without_web3 ? '' : ' style="display: none;" ' }}>
  <h3 class="visually-hidden">{{ title }}</h3>
  <div class="form-actions">

      {% if login_link_text %}
        <button class="ethereum-signup--login-link button is-disabled button--primary" disabled="disabled">{{ login_link_text }}</button>
      {% endif %}
      {% if register_link_text %}
        <button class="ethereum-signup-register--link button is-disabled button--primary" disabled="disabled">{{ register_link_text }}</button>
      {% endif %}

      <div class="description" style="padding-top: .5em">
        <span class="ethereum-signup--web3-status-unlocked" style="display: none">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 32 32">
              <path d="M24 2c3.308 0 6 2.692 6 6v6h-4v-6c0-1.103-0.897-2-2-2h-4c-1.103 0-2 0.897-2 2v6h0.5c0.825 0 1.5 0.675 1.5 1.5v15c0 0.825-0.675 1.5-1.5 1.5h-17c-0.825 0-1.5-0.675-1.5-1.5v-15c0-0.825 0.675-1.5 1.5-1.5h12.5v-6c0-3.308 2.692-6 6-6h4z"></path>
          </svg>
          {% trans %}
          Ethereum account status is unlocked.
          {% endtrans %}
        </span>
        <span class="ethereum-signup--web3-status-locked">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 32 32">
              <path d="M18.5 14h-0.5v-6c0-3.308-2.692-6-6-6h-4c-3.308 0-6 2.692-6 6v6h-0.5c-0.825 0-1.5 0.675-1.5 1.5v15c0 0.825 0.675 1.5 1.5 1.5h17c0.825 0 1.5-0.675 1.5-1.5v-15c0-0.825-0.675-1.5-1.5-1.5zM6 8c0-1.103 0.897-2 2-2h4c1.103 0 2 0.897 2 2v6h-8v-6z"></path>
          </svg>
          {% trans %}
          Ethereum account status is locked.
          {% endtrans %}
        </span>

        <div id="ethereum-signup-livelog"></div>
        <div id="ethereum-signup-messages"></div>
      </div>
    <noscript>Javascript is required.</noscript>


  </div>

</div>
